.favorite
  - if favorite = current_user.favorited(post)
    = link_to [topic, post, favorite], class: 'btn btn-small', method: :delete do
      %i.icon-star-empty 
      &nbsp; Unfavorite
  - else
    = link_to [topic, post, Favorite.new], class: 'btn btn-small', method: :create do
      %i.icon-star 
      &nbsp; Favorite

