%h1 New Topic
.row
  .span6
    %p Guidelines for new posts
    %ul 
      %li Make sure content is appropriate.
      %li Blah blah blah
      %li Blah blah blah
      %li Blah blah blah
  .span6
    = form_for @topic, html: {class: 'form-horizontal'} do |f|
      .control-group
        = f.label :name, class: 'class-label'
        .controls
          = f.text_field :name
      .control-group
        =f.label :description, class: 'control-label'
        .controls
          =f.text_area :description, rows: 8
      .control-group
        .controls
          =f.submit "Save", class: 'btn'

