%h1 Edit Post
.row
  .span4
    %p Guidelines for new posts:
    %ul 
      %li Make sure content is appropriate.
      %li Blah blah blah
      %li Blah blah blah
  .span8
    = render partial: 'form', locals: { topic: @topic, post: @post }