%h1 New Post
.row
  .span4
    %p Guidelines for new posts:
    %ul 
      %li Make sure content is appropriate
      %li Blah Blah
      %li Blah Blah
  .span8
    = render partial: 'form', locals: { topic: @topic, post: @post }